<!-- App Home -->

<ion-header class="header-default">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-default">

  <div class="logo">
  </div>

  <div class="margin-top-40 text-center" *ngIf="inputSearch.value === ''">
    <span class="help-text">Digite o seu destino no campo abaixo.</span>
  </div>
  <ion-searchbar #inputSearch class="margin-top-10" (ionInput)="filterItems($event)" placeholder="Para onde você quer ir?"
    full></ion-searchbar>
  <ion-list class="margin-10">
    <ion-item (click)="openMap()">
      <ion-icon name="md-map" color="secondary" item-start></ion-icon>
      Escolher no mapa
    </ion-item>
  </ion-list>
  <div class="text-center padding-10">
    <button *ngIf="inputSearch.value === ''" ion-button full color="secondary" (click)="showStops ? showStops = false : showStops = true">VER TODAS AS PARADAS</button>
  </div>
  <div class="padding-10" *ngIf="(inputSearch.value !== '' && items?.length !== 0) || showStops">
    <span>Clique na opção desejada:</span>
  </div>
  <ion-card *ngIf="inputSearch.value !== '' && items?.length === 0">
    <ion-card-header>
      Oops!
    </ion-card-header>
    <ion-card-content>
      Nenhum resultado para a busca, tente outro termo!
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="inputSearch.value !== '' || showStops">
    <ion-item *ngFor="let parada of items" (click)="openMapWithDestiny(parada.id)">
      {{ parada.nome }}
    </ion-item>
  </ion-list>

</ion-content>