<ion-header class="header-default">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-default">

  <div class="margin-top-20 logo">
  </div>

  <ion-searchbar #inputSearch class="margin-top-20" (ionInput)="filterItems($event)" placeholder="Para onde você quer ir?"
    full></ion-searchbar>
  <div class="padding-10" *ngIf="inputSearch.value !== '' && items?.length !== 0">
    <span>Clique na opção desejada:</span>
  </div>
  <div class="padding-10 text-center" *ngIf="inputSearch.value !== '' && items?.length === 0">
    <span>Nenhum resultado para a busca, tente outro termo!</span>
  </div>
  <ion-list *ngIf="inputSearch.value !== ''">
    <ion-item *ngFor="let parada of items" (click)="openMap(parada.id)">
      {{ parada.nome }}
    </ion-item>
  </ion-list>

  <div class="padding-10 text-center" *ngIf="inputSearch.value === ''">
    <span class="help-text">Digite o seu destino no campo acima para ver resultados.</span>
  </div>

</ion-content>