page-map {
    #map {
        height: 100%;
    }
    .map-button {
        position: absolute;
        top: 90%;
        transform: translateX(-50%);
        &-div {
            text-align: center;
        }
    }
}